<footer>
    <p>PHPHint was made possible and built using the awesome <a href="http://pear.php.net/package/PHP_CodeSniffer">PHP_CodeSniffer</a>, <a href="http://cs.sensiolabs.org/">PHP-CS-Fixer</a>, <a href="https://github.com/sebastianbergmann/phploc">phploc</a>, <a href="http://phpmd.org/">PHPMD</a> and <a href="http://pdepend.org/">PHP_Depend</a>.</p>
</footer>