<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('homepage') }}">PHPHint <span class="version">0.1</span></a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="https://github.com/klaussilveira/PHPHint">Contribute</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>